.settings-screen {
  border: 2px solid #666;
  border-top: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

div.settings-screen input[type=text] {
  width: 50%;
  font-size: 1.2em;
}
div.settings-screen input[type=password] {
  width: 50%;
  font-size: 1.2em;
}

div.settings-screen select {
  font-size: 1.2em;
}

div.settings-screen button {
  margin-top: 8px;
  margin-right: 5px;
  width: 20%;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: orange;
}


div.settings-button button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.className{

}
