# See http://help.github.com/ignore-files/ for more about ignoring files.

/temp

# OSX stuff
.DS_Store

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

node/settings.js
node/settings-json.js
node/.DS_Store
node/node_modules

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
