/* imports must be at top */
@import 'general.css';
@import 'nagiostv.css';
@import 'settings-screen.css';

@import 'flynn.css';

a {
  color: white;
}
h4 {
  margin-top: 2px;
  margin-bottom: 2px;
}
